*{
    margin: 0;
}
header h1{
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #666;
}

.navbar a:hover {
    background-color: #555;
    transition: 1s;
}

.navbar li {
    width: fit-content;
}

.container{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 0.4fr 0.4fr 9fr 1fr;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main aside"
    "footer footer footer footer";
}
.home {
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 0.4fr 0.4fr 9fr 1fr;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}
nav{
    grid-area: nav;
}

header{
    grid-area: header;
    background-color: #3D8EC0;
}

main{
    grid-area: main;
    background-color: white ;
    padding: 15px;
}

aside{
    grid-area: aside;
    background-color: white;
    padding: 15px;
}

footer{
    grid-area: footer;
    background-color: darkblue;
    padding: 15px;
}



@media (max-width:700px){
    .container{
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "aside aside aside aside"
        "footer footer footer footer";
    }
}

#kontakta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Meddelande{
    resize: none;
    padding: 5px;
    border: black solid 1px;
}
#namn{
    padding: 5px;
    border: black solid 1px;
}

#Foldbild{
    max-height: 50%;
    max-width: calc(100% - 5px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 80px
}

#ProduktBild{
    max-height: 50%;
    max-width: calc(100% - 5px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#green{
    accent-color: #6D885A;
    scale: 200%;
    margin: 10px;
    
}

#mintgreen{
    accent-color: #91AF7B;
    scale: 200%;
    margin: 10px;
}

#pink{
    accent-color: #D3B2B5;
    scale: 200%;
    margin: 10px;
}

#KöpNu{
    background-color: #6D885A;
    margin-right:80%; 
    border: solid 1px #6D885A;
    border-radius: 10px;
    text-align: center;
    color: white;
}