*{
    margin: 0;
}
header h1{
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #52624f;
}

.navbar a:hover {
    background-color: #555;
    transition: 1s;
}

.navbar li {
    width: fit-content;
}

.container{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 0.4fr 0.4fr 9fr 1fr;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main aside"
    "footer footer footer footer";
}
.home {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
    background-color: #606D5D;
}
nav{
    grid-area: nav;
}

header{
    grid-area: header;
    background-color: #357eab;
}

main{
    grid-area: main;
    background-color: #606D5D ;
    padding: 15px;
}

aside{
    grid-area: aside;
    background-color: #355441;
    padding: 15px;
    border: 2px solid black;
}

footer{
    grid-area: footer;
    background-color: #52624f;
    padding: 15px;
    text-align: center;
}



@media (max-width:700px){
    .container{
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "aside aside aside aside"
        "footer footer footer footer";
    }
}

#KontaktaText{
    text-align: center;
    left: 0;
    position: absolute;
    width: 100vw;
    margin-top: -10px;
}

#kontakta{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    position: absolute;
    width: 100vw;
    left: 0;
}
#Meddelande{
    resize: none;
    padding: 5px;
    border: black solid 1px;
}
#namn{
    padding: 5px;
    border: black solid 1px;
}

#Foldbild{
    max-height: 50%;
    max-width: calc(100% - 5px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 80px
}

#ProduktBild{
    max-height: 50%;
    max-width: calc(100% - 5px);
}

#KöpNu{
    background-color: #6D885A;
    margin-right:80%; 
    border: solid 1px #6D885A;
    border-radius: 10px;
    text-align: center;
    color: white;
}
#KöpNu:hover {
    background-color: #5a704a;
}


button{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

.FärgKnapp[data-color="green"]{
    background-color: #6D885A;
}

.FärgKnapp[data-color="mintgreen"]{
    background-color: #91AF7B;
}

.FärgKnapp[data-color="pink"]{
    background-color: #D3B2B5;
}
